{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col">
        <div class="card">
            {% if not version.sign_of_current_version %}
                <h4 class="my-0 font-weight-normal" align="center">Версия не указана</h4>
            {% else %}
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Продукт</td>
                            <td>{{ version.product }} </td>
                        </tr>
                        <tr>
                            <td>Номер версии</td>
                            <td>{{ version.number }}</td>
                        </tr>
                        <tr>
                            <td>Имя версии</td>
                            <td>{{ version.name }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
            <div class="card-footer">
                <a href="{% url 'catalog:products_list' %}" class="btn btn-primary"><< Назад</a>
            </div>
        </div>
    </div>

{% endblock %}